.app{
    display: grid;
    place-items: center;
    align-items:center;
    margin-top: 39vh;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px 2px #ccc;
    width: 50vw;
    margin-left: 25vw;
    padding: 70px 20px;
    
}

.app > button{
    background-color: rgb(101, 173, 68);
    width:150px;
    padding: 10px;
    border-radius: 100px;
    margin-top: 20px;
}

.app > button:hover{
    font-size: 1.1rem;
    background-color: brown;
}